html{
    scroll-behavior: smooth ;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: auto;
    color: #555555;
    text-decoration: none;
    max-width: 450px;
    text-align: center;
    box-shadow: 1px 2px 15px #48484833;
    background: url(image/16\ Backgrounds\ That\ Will\ Brighten\ Your\ Day\ Every\ Time\ You\ Check\ Your\ Phone.jpeg);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 90px;
}

.page-details{
  background-image: linear-gradient(to bottom,rgb(20 66 161/45%) 0%,rgb(16 64 138)100%),url(image/Stucco\ Texture\ Cement\ Textured\ Background.jpeg);
  background-position: top;
  background-size: cover;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.p-10{
  padding: 10px;
}

/* .contact-action-container {
    text-align: left;
    margin-bottom: 15px;
    margin-top: 15px;
} */

.views-label {
  padding: 5px 10px;
  position: absolute;
  color: #ffffff;
  right: 10px;
  top: 10px;
  border: 1px solid #ffffff;
  border-radius: 18px;
  font-size: 14px;
}
.profile-pic {
  text-align: left;
}

.profile-pic .profile-pic-img {
  /* width: 150px; */
  margin-top: 25px;
  border-radius: 8px;
  border: 2px solid #ffffff;
}

.firmname {
  font-size: 18px;
  margin-bottom: 14px;
  margin-top: 10px;
}

fa-map-marker-alt::before {
  content: "\f3c5";
}
.fa, .fas {
  font-weight: 900;
}

.designation {
  font-size: 14px;
  color: #ffffff;
  text-align: left;
  margin-bottom: 10px;
  margin-top: -6px;
}

.name {
  text-transform: capitalize;
  font-size: 16px;
  line-height: 20px;
}

.name, .firmname {
  font-size: 14px;
  font-weight: 500;
  color: white;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-align: left;
}

.contact-action-container-icon {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 30px;
  line-height: 30px;
  color: white;
  background-color: #4489C5;
  font-size: 13px;
}

.fa, .fab, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.click_anyicon {
  color: rgba(0,0,0,0.6);
  text-align: center;
  display: block;
  padding: 30px 10px;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 300;
}

.social_icons div {
  text-align: center;
  width: 25%;
  margin-bottom: 40px;
}

.social_icons div .svg_ico {
  width: 35px;
  height: 35px;
  background: rgb(252 252 252 / 55%);
  border-radius: 50%;
  margin: auto;
      margin-bottom: auto;
  padding: 8px;
  margin-bottom: 5px;
}

.social_icons div img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.social_icons div span {
  display: block;
  font-size: 12px;
  co3lor: rgba(0,0,0,0.4);
  
}

.social_icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-action-table {
  -webkit-border-vertical-spacing: 10px;
}

a {
  text-decoration: none;
  color: #0085C4;
}

.fa, .fas {
  font-weight: 900;
}

.contact-action-container-text {
  color: #F1F1F1;
  margin-left: 10px;
  font-size: 13px;
  margin-right: 10px;
  display: inline-block;
  word-break: break-word;

}
.tdata-text-a{
  text-align: left;
}
.p-30 {
  padding-top: 30px;
}

.share-buttons.inprofile {
  padding: 0;
  justify-content: flex-end;
  margin: -4px;
      margin-top: -4px;
}

.share-buttons.inprofile .share-button {
  padding: 3px;
}

.share-buttons .share-button {
  padding: 4px;
  list-style: none;
}

.share-buttons {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  padding: 0 60px;
  margin: 0;
}

.share-buttons.inprofile .share-button i {
  padding: 0;
  height: 27px;
  width: 27px;
  font-size: 12px;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(255, 251, 251, 0.1) inset;
}

fa, .fab, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.share-buttons .share-button i {
  background-image: none;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  overflow: hidden;
  line-height: 1.1em;
  color: #fff;
  display: block;
  cursor: pointer;
  font-size: 24px;
  height: 40px;
  width: 40px;
  text-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-20 {
  padding-top: 20px;
}

.email {
  
  font-size: 16px;
  line-height: 20px;
}


.email, .firmname {
  font-size: 14px;
  font-weight: 500;
  color: white;
  letter-spacing: 0.6px;
  text-align: left;
}